.grid{
    display: flex;
    width: 960px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cell{
    width: 20px;
    height: 20px;
    background-color: cornsilk;
    border: 0.5px solid grey;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn{
    width: 80px;
    height: 30px;
    border: 2px solid firebrick;
    background-color: navy;
    color: white;
    margin-top: 10px;
}
#btn:hover{
    transform: scale(1.2);
}